{% extends "cvclass/lay_out/muofangwangyi_dtl/base_wy_0.html" %}
{% load static %}
{% block avator %}
    {% if request.user.is_authenticated %}
        {% if request.user.id >= 1 %}
            <a href=" {% url 'cvclass:wangyi_person'  %}"><img style="padding:0 auto;flex:1;" height="30px" src="{% static 'cvclass/images/' %}{{request.user.id}}.jpg"></img></a>
        {% endif %}
    {% else %}
            <img style="display:inline;vertical-align:top;" width="30" height="30" src="https://pic3.zhimg.com/v2-4b86adb98b278b977c6bc4c0e6bbfca2_is.jpg" srcset="https://pic3.zhimg.com/v2-4b86adb98b278b977c6bc4c0e6bbfca2_im.jpg 2x">
    {% endif %}
{% endblock avator %}
