{% extends "cvclass/lay_out/muofangwangyi_dtl/base_wy.html" %}
{% block content %}
           <div id="content-block">
               <div id="content-block-title"><p>系统化学习计算机视觉<p></div>
               <div style="">
                {% if class_list %}
                  {% for class in class_list %}
                   <div  id="video-block" >
                       <div id="video-title" >{{class.class_text}}</div>
                       <div id="video-content">
                           <iframe frameborder="0" allowfullscreen
                               src="{{ class.class_url }}">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>
                   {% endfor %}
                  {% else %}
                     <p> No class.</p>
                  {% endif %}


                   <div class="clear"></div>
               </div>
               <ul style="display:flex;">
                   <li>赞同</li>
                   <li>不赞同</li>
                   <li>分享</li>
                   <li>收藏</li>
               </ul>
           </div>
           <div id="content-block">
               <div id="content-block-title"><p>限时秒杀<p></div>
               <div style="">
                   <div  id="video-block" >
                       <div id="video-title">CVPR2020:保证分类器的置信度和IOU双高</div>
                       <div id="video-content">
                           <iframe width="200" height="160" frameborder="0" allowfullscreen
                               src="https://classvideo-1257340069.cos.ap-guangzhou.myqcloud.com/cvpr2020%E7%9B%AE%E6%A0%87%E6%A3%80%E6%B5%8B/CVPR2020%3A%E4%BF%9D%E8%AF%81%E8%BE%93%E5%87%BA%E6%A1%86%E5%88%86%E7%B1%BB%E7%BD%AE%E4%BF%A1%E5%BA%A6%E5%92%8C%E4%BD%8D%E7%BD%AEIOU%E9%83%BD%E6%98%AF%E6%9C%80%E9%AB%98.mp4?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>
                   <div  id="video-block" >
                       <div id="video-title" style="">CVPR2020:样本极度不均衡用softmax</div>
                       <div id="video-content">
                           <iframe width="200" height="160" frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6918372573805806094?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="clear"></div>
               <ul style="display:flex;">
               <li>赞同</li>
               <li>不赞同</li>
               <li>分享</li>
               <li>收藏</li>
               </ul>
           </div>
           <div id="content-block">
               <div id="content-block-title"><p>明明老师个性化推荐课程<p></div>
               <div style="">
                   <div  id="video-block" >
                       <div id="video-title">图形化展示卷机过程</div>
                       <div id="video-content">
                           <iframe frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6904630952375517707?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div style="">
                   <div  id="video-block" >
                       <div id="video-title">图与神经网络-随机图的度分布</div>
                       <div id="video-content">
                           <iframe  frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6901672267244110339?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div style="">
                   <div  id="video-block" >
                       <div id="video-title">网络network和图graph到底时啥关系?</div>
                       <div id="video-content">
                           <iframe  frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6897420729202147854?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="clear"></div>
               <ul style="display:flex;">
               <li>赞同</li>
               <li>不赞同</li>
               <li>分享</li>
               <li>收藏</li>
               </ul>
           </div>
           <div id="content-block">
               <div id="content-block-title"><p>免费好课<p></div>
               <div style="">
                   <div  id="video-block" >
                       <div id="video-title">[一]课程导论</div>
                       <div id="video-content">
                           <iframe width="200" height="160" frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6897563510457238029?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>
                   <div id="video-block">
                       <div id="video-title">[二]为什么图像要用矩阵表示</div>
                       <div id="video-content">
                           <iframe width="200" height="160" frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6898664279398941195?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>

                   <div id="video-block">
                       <div id="video-title">[三]图像处理就是矩阵处理</div>
                       <div id="video-content">
                           <iframe width="200" height="160" frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6897779240004616712?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>

                   <div id="video-block">
                       <div id="video-title">[四]从文件中读取图像矩阵</div>
                       <div id="video-content">
                           <iframe width="200" height="160" frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6898321919506907656?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>

                   <div id="video-block">
                       <div id="video-title">[五]从摄像头中读取图像矩阵</div>
                       <div id="video-content">
                           <iframe width="200" height="160" frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6898321689281561102?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="clear"></div>
               <ul style="display:flex;">
               <li>赞同</li>
               <li>不赞同</li>
               <li>分享</li>
               <li>收藏</li>
               </ul>
           </div>
           {% endblock content %}
