{% extends "cvclass/lay_out/muofangwangyi_dtl/base_wy.html" %}
{% load static %}
{% block content %}

           <div id="content-block">
               <div id="content-block-title"><p>限时福利-特价公开课</p></div>
               <div style="">
                   <div  id="img-block" style="display:flex;padding:0px auto;justify-content:center;" >
                        <div style="border:1px solid rgb(0,102,244);border-right:0px;border-radius:1px 1px 1px 1px;justify-content:center;flex-direction:column;">
                                <a href="{% url 'cvclass:muofangwangyi_login' %}"><img style="padding:0 auto;flex:1;" height="320px" src="{% static 'cvclass/images/yolo_img.png'%}"></img></a>
                        </div> 
                        <div style="border:1px solid rgb(0,102,244);border-left:0px;border-radius:1px 1px 1px 1px;">
                             <ul>
                                <li>YOLO公开课</li>
                                <li><a href="{% url 'cvclass:muofangwangyi_learn' %}">49元购买yolo公开课</a></li>
                                <li>更新进度[%100]</li>
                                <li>已有869人学习</li>
                                <li>收藏 点赞 提建议</li> 
                             </ul>
                        </div> 
                   </div>
                   <div class="clear"></div>
               </div>
           </div>
          
           <div id="content-block">
               <div id="content-block-title"><p>会员免费学<p></div>
               <div style="">
                   <div  id="video-block" >
                       <div id="video-title" style="">CVPR2020:样本极度不均衡用softmax</div>
                       <div id="video-content">
                           <iframe width="200" height="160" frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6918372573805806094?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="clear"></div>
               <ul style="display:flex;">
               <li>赞同</li>
               <li>不赞同</li>
               <li>分享</li>
               <li>收藏</li>
               </ul>
           </div>
           <div id="content-block">
               <div id="content-block-title"><p>会员专属折扣区<p></div>
               <div style="">
                   <div  id="video-block" >
                       <div id="video-title">图形化展示卷机过程</div>
                       <div id="video-content">
                           <iframe frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6904630952375517707?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="clear"></div>
               <ul style="display:flex;">
               <li>赞同</li>
               <li>不赞同</li>
               <li>分享</li>
               <li>收藏</li>
               </ul>
           </div>
           <div id="content-block">
               <div id="content-block-title"><p>新课尝鲜<p></div>
               <div style="">
                   <div  id="video-block" >
                       <div id="video-title">[一]课程导论</div>
                       <div id="video-content">
                           <iframe width="200" height="160" frameborder="0" allowfullscreen
                               src="https://www.ixigua.com/iframe/6897563510457238029?autoplay=0&startTime=0">
                           </iframe>
                           <ul style="display:flex;">
                               <li>已有869人学习</li>
                               <li>分享</li>
                               <li>收藏</li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="clear"></div>
               <ul style="display:flex;">
               <li>赞同</li>
               <li>不赞同</li>
               <li>分享</li>
               <li>收藏</li>
               </ul>
           </div>
{% endblock content %}
