{% extends "cvclass/lay_out/muofangwangyi_dtl/base_wy.html" %}
{% load static %}
{% block content %}

           {% for class_intro in class_intro_list %}
               <div id="content-block">
                   <div id="content-block-title"><p>{{class_intro.title}}</p></div>
                   <div style="">
                       <div  id="img-block" style="background:url(/static/cvclass/images/{{class_intro.image_name}});" >
                            <div id="img-block-text">
                                 <ul class="nav">
                                    <li id="img-block-li"><a href="{% url 'cvclass:muofangwangyi_learn' %}">{{class_intro.class_name}}</a></li>
                                    <li id="img-block-li"><a href="{% url 'cvclass:muofangwangyi_learn' %}">{{class_intro.type}}</a></li>
                                    <li id="img-block-li">更新进度[{{class_intro.refresh_percent}}]</li>
                                    <li id="img-block-li">已有{{class_intro.view_num}}人学习</li>
                                    <li id="img-block-li">收藏({{class_intro.scn}}) 点赞({{class_intro.dzn}}) <a href="{% url 'cvclass:muofangwangyi_question' %}">提建议</a></li> 
                                 </ul>
                            </div> 
                       </div>
                       <div class="clear"></div>
                   </div>
               </div>
           {% endfor %}
     

           {% endblock content %}
