{% extends "cvclass/lay_out/muofangwangyi_dtl/base_wy.html" %}
{% load static %}
{% block content %}
           <div id="content-block">
               {% if not request.user.is_authenticated %}
                   <div id="content-block-title"><p>{{msg}}</p></div>
               {% else %}
                   <div id="content-block-title"><p>{{msg}}</p></div>
               {% endif %}
           </div>
           <div id="content-block">
                 <ul style="display:flex;">
                     <li>课程</li>
                     <li>收藏夹</li>
                     <li>点赞</li>
                 </ul>
           </div>
           <div id="content-block">
                 <ul style="display:flex;">
                     <li>按加入时间</li>
                     <li>按加入顺序</li>
                     <li>全部</li>
                     <li>付费</li>
                     <li>即将过期</li>
                 </ul>
           </div>
           <div id="content-block">
                <table id="class_table" > 
                <ul>
                {% for model in models %}
                    <tr>
                        {% if model.admin_url %}
                            <th><a href="{{ model.admin_url }}">{{model.name}}</a></th>
                        {% elif model.buy_url %}
                            <th><a href="{{ model.buy_url }}">{{model.name}}</a></th>
                        {% else %}
                            <th>{{ model.name }}</th> 
                        {% endif %}
                        <td>课程介绍</td>
                        <td>过期时间</td>
                        <td>学习进度</td>
                        {% if model.add_url %}
                            <td><a href={{ model.add_url }}>添加</a></td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
      
                        {% if model.admin_url %}
                                <td><a href="{{ model.admin_url }}" style="background:url({% static 'cvclass/images/view_video.jpg'  %}) 0 11px no-repeat;">&nbsp&nbsp&nbsp&nbsp进入学习</a></td>
                        {% elif model.buy_url %}
                            <td><a href="{{ model.buy_url }}" style="background:url({% static 'cvclass/images/buy.jpg' %}) 0 11px no-repeat;" >&nbsp&nbsp&nbsp&nbsp点击购买</a></td>
                        {% else %}
                            <td>&nbsp</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </ul>
                </table>
           </div>
{% endblock content %}
