{% extends "cvclass/lay_out/muofangwangyi_dtl/base_wy.html" %}
{% block content %}

           <div id="content-block">
               <div id"content-block-title"><p>我的消息</p></div>
           </div>
           <div id="content-block">
                 <ul style="display:flex;">
                     <li>推荐</li>
                     <li>关注</li>
                     <li>热榜</li>
                 </ul>
           </div>
           <div id="content-block">
                 <ul style="display:flex;">
                     <li>课程提醒</li>
                     <li>互动提醒</li>
                     <li>平台通知</li>
                     <li>私信</li>
                 </ul>
           </div>
           <div id ="content-block">
               <div>课程提醒内容</div>
                 <ul >
                     <li>入门计算机视觉有新更新了</li>
                     <li>课程已经参与过半了</li>
                     {% for message in message_list %}
                        <li>{{ message }}</li>
                     {% endfor %}
                 </ul>
           </div>

{% endblock content %}
